html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
  width: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

body {
  margin: 0;
  text-align: center;
}

table {
  margin-left:auto; 
  margin-right:auto;
  padding: 0;
}

pre {
  display:  flex;
  justify-content: center;
}

pre {
  padding: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  padding: 20px 10px 40px 10px;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

ul > li {
  padding: 8px;
}

.active {
  text-align: left;
}

.border-column, .border-row {
  cursor: pointer;
  background-color: #E8EAF6;
}

.hover {
  background-color: #7986CB;
}

.active-border {
  background-color: #7986CB;
}

.copy-button {
  height: 70px;
}

.copied-text {
  padding: 20px 0px;
}

.code-container {
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size:  14px;
}

.editor-table {
  margin: 0 auto;
  padding: 0px 20px;
  width: 82%;
}

.code-container {
  margin: 0 auto;
  width: 80%;
  text-align: left;
  padding: 10px 20px;
}

table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .3rem;
  margin: 0.5rem;
  line-height: 1.5;
  flex: 1 1 auto;
}

tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 10;
  flex-basis: 0;
  padding: 0.2em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
}

.border-row {
  height: 8px;
}
.border-column{
  flex-grow: 0.5;
  width: 8px;
}

.copied-container{
  display: flex;
  flex-flow: column;
  padding: 0px 10px 0px 0px;
}

.center-aligned {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.left-aligned {
  text-align: left;
}

.alignment-part {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 5px;
}

.alignment-part > button {
  width: 20px;
  height: 22px;
  background: #3F51B5;
  border: 0;
  border-radius: 5%;
  color: white;
  margin-right: 1px;
  text-align: center;
  cursor: pointer;
}
.alignment-part > button:hover {
  background-color: #3949AB;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
textarea {
  overflow: auto;
  resize: none;
  border: 0;
}

label {
  padding: 10px 0px;
}

input {
  margin: 10px;
}

.content {
  margin: auto;
  width: 95%;
  padding: 10px;
}

.filled-div0,.filled-div1,.filled-div2,.filled-div3{
  cursor: pointer;
  margin: 0 auto;
  width: 100px;
  height: 10px; 
  background:lightgray;
}
.filled-div1{
  width: 66px;
  border-left: 33px solid black;
}
.filled-div2{
  width: 33px;
  border-left: 66px solid black;
}
.filled-div3{
  width: 0px;
  border-left: 100px solid black;
}


.line-div-clicked {
  /*background: black;*/
}
.line-div-white {
  background: white;
  width: 100px;
}
.input-line {
  width: 90px;
  height: 15px;
  border: 1px solid black;
  margin: 3px;
  overflow: hidden;
  resize: none;
  text-align: center;
}
.no-input{
  display: none;
}

.level {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cellLine {
  padding: 5px;
}

.lineAnnotation{
  display: flex;
  flex-flow: row;
}

.annotationText {
  border: 1px solid black;
  width: 20px;
  margin-left: 10px;
  height: 5px;
}

.input-textarea {
  border: 1px solid black;
  width: 165px;
  margin-left: 10px;
  margin-top: 5px;
}

.cellArrows {
  display: flex;
  flex-flow: column;
}

.taylor-row{
  display: flex;
  flex-flow: row;
}

.arrowButtons {
  display: flex;
  flex-flow: row;
  padding-left: 10px;
}

.arrowButtons > div > button, .arrowButtons > button  {
  border: 0.1px black solid;
  background-color: azure;
  padding: 6.5px;
}

.arrowButtons > div > button:hover, .arrowButtons > button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.arrowButtons > div > .arrow-activated:hover, .arrowButtons > .current-arrow-type:hover {
  background-color: azure;
}

.arrowButtons > div > .arrow-activated, .arrowButtons > .current-arrow-type {
  background-color: aquamarine;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3F51B5;
  color: white;
  font-size: 50px;
}
.header-nav-labels {
  padding-bottom: 10px;
}
.header-nav, .header-nav-labels {
  background-color: #3F51B5;
}

.header-nav > li, .header-nav-labels > li {
  color: white;
  padding-top: 1px;
}

.header-nav > li {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 5px;
   padding-top: 15px;
}

.label-container, .caption-container, .table-size-container, 
.input-rows, .input-columns {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  flex-flow: column;
}

.header-nav-labels > li > a{
  font-size: 18px;
  padding-top: 8px;
  font-family: 'Roboto', sans-serif;
  color: white; 
  text-decoration: none;
}
.table-label{
  padding-right: 2px;
  padding-left: 12px;
}
.math-label {
  padding-right: 3px;
  padding-left: 15px;
}
.taylor-label {
  padding-left: 10px;
}

.form-container > div > label, .form-container > div > div >label {
  display: inline-block;
  width: 200px;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 1px;
  font-family: 'Roboto', sans-serif;  
}

.form-container > div > input {
  width: 200px;
  padding: 0px 1px 0px 0px;
  text-align: right;
}

.form-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.form-reset-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 80%;
  padding: 0px 0px;
  margin: 0 auto;
}

.table-size-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.basic-button {
  width: 100px;
  height: 50px;
  margin: 8px;
  background-color:#3F51B5;
  color: white;
  border: 0;
  border-radius: 5%;
  cursor: pointer;
}
.reset-button {
  margin-top: 50px;
}

.basic-button:hover {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
  background-color: #3949AB;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #C5CAE9;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3F51B5;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #C5CAE9;
}

input[type=range]{
  /* fix for FF unable to apply focus style bug  */
  border: 1px solid white; 

  /*required for proper track sizing in FF*/
  width: 300px;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #C5CAE9;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3F51B5;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
  background: #C5CAE9;
}

/*.label-caption-container {
  display: flex; 
  flex-flow: row;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  padding: 0px 50px;
}*/

@media only screen and (max-width: 1920px) {
  .code-container {
    font-size: 14px;
  }
  .copy-button {
    width: 180%;
  }
  .copied-container{
    padding: 0px 10px 0px 0px;
  }
  /*.label-caption-container {
    flex-flow: row;
  } */ 
}

@media only screen and (max-width: 1020px) {
  .code-container {
    font-size: 12px;
  }
  .copy-button {
    width: 100%;
  }
  /*.label-caption-container {
    flex-flow: row;
  }*/
}

@media only screen and (max-width: 620px) {
  .code-container {
    font-size: 10px;
  }
  .copy-button {
    width: 70%;
  }
  .form-reset-container {
    flex-flow: column;
  }
  .form-container {
    flex-flow: column;
  }
  .table-size-container {
    padding-left: 0px;
  }
  .table-size-container > div > input {
    width: 100%;
  }
  .reset-button {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  /*.label-caption-container {
    flex-flow: column;
  }
  .label-caption-container > .label-container > label,
  .label-caption-container > .caption-container > label {
    display: inline-block;
    width: 100px;
    text-align: left;
  }*/
}